.index{text-align:center}


    .border{background-color: #f83131}
    

.about{
  font-weight:large;
  text-align:center;
}

.card {
  background-color: antiquewhite;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
